<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sök efter företagstransaktioner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesförsta.css') }}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header>
            <h1>Sök efter Insiderhandel</h1>
        </header>
        <main>
            <p class="description">Välkommen till vår webbplats för insynshandel i aktiebolag på den svenska marknaden.</p>
            <form action="/results" method="post" class="search-form">
                <label for="company_name">Sök företagsnamn:</label>
                <input type="text" id="company_name" name="company_name" placeholder="Företagsnamn" required autocomplete="off">
                <button type="submit">Sök</button>
            </form>
        </main>
        <footer>
            <p>&copy; 2024 Insynshandel AB</p>
        </footer>
    </div>
</body>
</html>
